a {
    text-decoration: none;
    color: black;
    padding: 35px;
}

a:hover {
    text-decoration: underline;
}

#qazwsx {
    text-align: center;
}

body {
    font-style: italic;
}

#QWerty {
    padding: 0px;
    background: green;
    color: white;
}

ol {
    overflow: auto;
    max-height: 200px;
}

p + a {
    padding: 2px;
    background: green;
    color: white;
}